@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Movies</h1>

@if (Model.Any())
{
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Movie</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    @movie.Name
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <text>We don't have any movies yet.</text>
}



